html {
	background-color: #444;
	overflow-y: overlay;
}

body {
	position: relative;
}

nav {
	font-family: 'Teko', Arial, Helvetica, sans-serif;
}

nav h1 {
	font-size: 2.4em;
	position: relative;
	top: 0.1em;
}
 	
nav h1 a {
	text-decoration: none;
	color: white;
}

a:hover, a:focus {
	text-decoration: none;
	color: #c1befa; /* "light navy" */
}

main {
  background-color: #9FC5F8; /* for consistency with wireframe */
  display: flex;
}

main > div#container {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.flex-container-outer {
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 0 auto;
}

.flex-container-inner {
  min-width: 28%;
  padding: 20px 15px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-container-inner > div {
  margin: 5px 10px 5px;
}

.flex-container-inner > .div-input {
  /* background-color: red; */
  display: flex;
  height: 40px;
}

.flex-container-inner > .div-input > input {
  margin: auto;
  font-family: "VT323", monospace;
  font-size: 2.2em;
  max-width: 90%;
  text-align: center;
  border: 2px solid black;
}

.flex-container-inner > .div-input > select {
  margin: auto;
  font-size: 2em;
  max-width: 90%;
  border: 2px solid black;
}

.large-button {
  display: block;
  background: purple; /* note not just background-color */
  color: white;
  width: 240px;
  height: 50px;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  margin: 20px auto 0;
  text-align: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700; /* bold */
  /* TODO: Add appearance attributes to 
     ensure button looks consistent across devices */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#result {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.7em;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .flex-container-outer {
    flex-direction: column;
  }
  .flex-container-inner {
    flex-direction: row;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
  }
  .flex-container-inner > .div-label {
    width: 140px;
    max-width: 40%;
  }
  .flex-container-inner > .div-input {
    width: 160px;
    max-width: 60%;
  }
} /* end 720px tablet media query */

@media only screen and (max-width: 480px) {
  .flex-container-outer {
    margin: 0;
    padding-bottom: 10px;
  }
  .flex-container-inner {
    flex-direction: row;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .flex-container-inner > .div-label {
    width: 90px;
    padding: 0;
    margin: 0;
    font-size: 0.6em;
    display: flex;
  }
  .flex-container-inner > .div-label > label {
    margin: auto 0 auto;
  }
  .flex-container-inner > .div-input {
    width: 140px;
    margin: 0;
  }
  .flex-container-inner > .div-input > input {
    margin: 0;
    font-size: 1.5em;
  }
  .flex-container-inner > .div-input > select {
    font-size: 1.2em;
  }
} /* end 480px mobile media query */


footer {
	background-color: black; /* for consistency with wireframe */
	color: white;
	width: 100%;
	height: 50px;
	font-family: 'Teko', Arial, Helvetica, sans-serif;
}

footer > p {
	text-align: center;
	width: 400px;
	max-width: 100%;
	margin: 0 auto;	
	line-height: 50px;
	font-size: 1.25em;
}

/*-----start of additional UI styles for about, contact, login, etc. -----*/

/* Done: add `max-width: 100%;` to `footer > p` */
/* DOne: add `overflow-y: overlay;` to `html` */

.contact-login-form-container {
	width: 400px;
	margin: 0 auto;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	align-items: stretch; /* DoNE: Add `display: flex;` to `main` above */
}

.contact-login-form-container > p {
	font-size: 1.25em;
	text-align: center;
	margin-top: 15px;
}

.contact-login-form-container > form {
	width: 300px;
	margin: 0 auto 1.25em;
}

.contact-login-form-container label {
	font-size: 1em;
}

.contact-login-form-container input[type="text"],
.contact-login-form-container input[type="email"],
.contact-login-form-container input[type="password"],
.contact-login-form-container textarea {
	width: 300px;
}

.contact-login-form-container .add-top-margin {
	margin-top: 1em;
}

.contact-login-form-container a {
	color: blue;
}

.contact-login-form-container a:hover,
.contact-login-form-container a:focus {
	text-decoration: underline;
}

.about-container {
	width: 400px;
	margin: 0 auto;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	align-items: stretch; /* DONE: Add `display: flex;` to `main` above */
}

.about-container h4 {
	margin-top: 1em;
}

.about-container a {
	color: blue;
}

.about-container a:hover,
.about-container a:focus {
	text-decoration: underline;
}

/*-----end of additional UI styles for about, contact, login, etc.-----*/

/*-----additional styles for login/signup message, calc history, etc.-----*/

div.login-registration-success {
	background-color: #4F8A5C;
	color: white;
	padding: 15px;
	margin-bottom: 10px;
}

div.login-registration-error {
	background-color: #B3160B;
	color: white;
	padding: 15px;
	margin-bottom: 10px;
}

div.login-registration-success a,
div.login-registration-error a {
	color: #dddd00;
}

div.login-registration-success a:hover,
div.login-registration-success a:focus,
div.login-registration-error a:hover,
div.login-registration-error a:focus {
	text-underline: underline;
}

div.history {
	width: 400px;
	margin: 0 auto 15px;
	font-size: 1em;	
	text-align: center;
	background-color: #83A2CC;
	padding: 20px;
}

div.history > p {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;
}

/*---end of additional styles for login/signup message, calc history, etc.---*/

/*****************************************/
/* STYLES TO OVERRIDE BOOTSTRAP DEFAULTS */
/*****************************************/
.bg-dark {
	background-color: navy !important;
}

li.nav-item {
	font-size: 1.2em !important;
}